<div class="form-group">
    <label for="summ">summary</label>
    <input type="text" class="form-control" name="summ" ng-model="formData.summ" required>
</div>

<div class="form-group">
    <label for="edu">Experience</label>
    <input type="text" class="form-control" name="edu" ng-required="true" ng-model="formData.edu" required>
</div>
<div class="form-group">
    <label for="hono">Honours</label>
    <input type="text" class="form-control" name="hono" ng-required="true" ng-model="formData.hono" required>
</div>
<div class="form-group">
    <label for="publ">Publications</label>
    <input type="text" class="form-control" name="publ" ng-required="true" ng-model="formData.publ" required>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
<br>
    <a ng-click="p2()" class="btn btn-block btn-info">
    Prev. Section <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    <BUTTON ng-click="n4()" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </BUTTON>
</div>
</div>
